<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <!-- header tobolist -->
    <header class="bg-color">
        <div class="box-logo container">
            <img class="logo" src="./img/logo.png" alt="">
        </div>
    </header>
    <!-- header tobolist -->

    <!-- main -->
    <main id="app">

        <!-- container -->
        <div class="box-main bg-color container ">

            <!-- add task -->
            <div class="add-task flex center container pad20">

                <div class="inputSelect flex">
                    <input class="new-task" type="text" placeholder="es: Fare la spesa..." v-model="newTask.text"
                        @keydown.enter="addTask">
                    <select name="category" id="category-list" v-model="newTask.category">
                        <option value="" selected>Categoria</option>
                        <option value="editorial">Editorial</option>
                        <option value="recruiting">Recruiting</option>
                        <option value="q1-goals">Q1-goals</option>
                        <option value="mobile">Mobile</option>
                        <option value="website">Website</option>
                        <option value="sales">Sales</option>
                    </select>
                </div>

                <button class="btn" @click="addTask">Add Task</button>
            </div>
            <!-- /addtask -->

            <hr class="divider">

            <!-- task list -->
            <div class="task-list container pad40">

                <div class="task center" v-show="todoList.length === 0">
                    <span>Non hai nulla da fare, aggiungi qualcosa.</span>
                </div>

                <ul>
                    <li v-for="(element, index) in todoList" class="flex">
                        <div class ="up flex center" v-show="todoList.length > 1" @click="(index != 0) ? moveUp(index) : ''">
                            <i class="fa-solid fa-chevron-up"></i>
                        </div>
                        <div class ="down flex center" v-show="todoList.length > 1" @click="(index != todoList.length - 1) ? moveDown(index) : ''">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div @click="doneNotDone(index)" class="task padlf gap">
                            <span :class="element.done.toString()"></span>
                            <div :class="{'done' : todoList[index].done}" class="flex gap">
                                <span class="text-task">{{ element.text }}</span>
                                <span :class="element.category != '' ? element.category + ' category' : ''">{{ element.category }}</span>
                            </div>

                        </div>
                        <div class="delete" @click="deleteElement(index)"><i class="fa-solid fa-trash"></i></div>




                    </li>
                </ul>



            </div>
            <!-- /task list -->


        </div>
        <!-- /container -->

    </main>
    <!-- /main -->

    <script src="./js/script.js"></script>
</body>

</html>